services:

  ibaa-chain:
    image: docker-regis.iex.ec/poco-chain:1.2.2-poco-v6.2.0-contracts-nethermind
    expose:
      - "8545"

  ibaa-blockchain-adapter-mongo:
    image: library/mongo:7.0.15-jammy
    expose:
      - "27017"
