services:

  ibaa-chain:
    image: docker-regis.iex.ec/poco-chain:1.1.0-poco-v6.1.0-contracts-voucher-v1.0.0-nethermind
    expose:
      - "8545"

  ibaa-blockchain-adapter-mongo:
    image: library/mongo:7.0.15-jammy
    expose:
      - "27017"
