server:
  port: ${IEXEC_BLOCKCHAIN_ADAPTER_API_PORT:13010}

spring:
  cloud.config:
    profile: ${IEXEC_PLATFORM_REGISTRY_STACK:} # mainnet, bellecour3, 1234, ..
    label: ${IEXEC_PLATFORM_REGISTRY_LABEL:} # main, develop, v10, 07998be
  config.import: "optional:configserver:${IEXEC_PLATFORM_REGISTRY:http://localhost:8888}" # configserver:http://platform-registry:8888
  data:
    mongodb:
      database: iexec-blockchain-adapter-api
      host: ${IEXEC_BLOCKCHAIN_ADAPTER_API_MONGO_HOST:localhost}
      port: ${IEXEC_BLOCKCHAIN_ADAPTER_API_MONGO_PORT:13012}
      auto-index-creation: true
  security:
    user:
      name: ${IEXEC_BLOCKCHAIN_ADAPTER_API_USERNAME:admin}
      password: ${IEXEC_BLOCKCHAIN_ADAPTER_API_PASSWORD:whatever}

chain:
  id: ${IEXEC_CHAIN_ID:134}
  node-address: ${IEXEC_BLOCKCHAIN_NODE_ADDRESS:https://bellecour.iex.ec}
  block-time: ${IEXEC_BLOCK_TIME:PT5S} #in seconds
  hub-address: ${IEXEC_HUB_ADDRESS:0x3eca1B216A7DF1C7689aEb259fFB83ADFB894E7f}
  sidechain: ${IEXEC_IS_SIDECHAIN:true}
  gas-price-multiplier: ${IEXEC_GAS_PRICE_MULTIPLIER:1.0} # txs will be sent with networkGasPrice*gasPriceMultiplier, 4.0 means super fast
  gas-price-cap: ${IEXEC_GAS_PRICE_CAP:22000000000} #in Wei, will be used for txs if networkGasPrice*gasPriceMultiplier > gasPriceCap
  max-allowed-tx-per-block: ${IEXEC_BLOCKCHAIN_ADAPTER_API_MAX_ALLOWED_TX_PER_BLOCK:1} # 1 or 2
wallet:
  path: ${IEXEC_BLOCKCHAIN_ADAPTER_API_WALLET_PATH:src/main/resources/wallet.json}
  password: ${IEXEC_BLOCKCHAIN_ADAPTER_API_WALLET_PASSWORD:whatever}

springdoc:
  packages-to-scan: com.iexec.blockchain
  paths-to-match: /**
